.sec{
    margin: 0 auto;
    padding : 2rem;
    max-width: 75rem;
}
.div{
    margin:0 auto;
    padding:1rem;
    position: relative;
    display: flex;
}
.spann1{
    font-size: xx-large;
    font-family: sans-serif;
}
.spann2{
    font-size: xx-large;
    font-family: sans-serif;
    color:goldenrod;
}
.profile{
    position: absolute;
    right: 4rem;
}